@use 'styles/functions' as fn;
@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;

.loader {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: cfg.$z-index-overlay;

  &_visible {
    display: inline-flex;
    cursor: default;
  }

  &__overlay {
    @include mx.themify('background-color', 'overlay-bg');

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s ease-in-out;
  }

  &__content {
    width: fn.offset(3.6);
    height: fn.offset(3.6);
  }

  &__item {
    display: flex;
    position: absolute;
    width: fn.offset(3.6);
    height: fn.offset(3.6);
    border: #{fn.offset(0.2)} solid transparent;
    border-radius: 50%;
    animation: roll 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #{fn.theme-color('dark', 'primary')} transparent transparent transparent;
    animation-delay: -0.3s;

    &:first-child {
      animation-delay: -0.45s;
    }

    &:last-child {
      animation-delay: -0.15s;
    }
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
