-
  const classNames = {
    [`${className}`]: Boolean(className),
    ['loader_visible']: isVisible,
  }

.loader(
  id=id
  class=classNames
)
  span.loader__item
  span.loader__item
  span.loader__item
