@use 'styles/functions' as fn;

.pages {
  &__nav {
    margin-top: fn.offset(2);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: fn.offset();
    }
  }

  &__link {
    font-size: 2rem;
  }
}
