@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;

$border-width: 0.1rem;

.button {
  @include mx.themify('border-color', 'primary');
  @include mx.themify('color', 'primary');

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
  border-width: 0.1rem;
  border-style: solid;
  min-width: 100px;
  height: cfg.$form-item-height;
  border-radius: cfg.$form-item-radius;
  border-width: 0.1rem;
  border-style: solid;
  line-height: 2.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  * {
    font-weight: 500;
  }

  &:active {
    transform: scale(0.99);
  }

  &_primary {
    @include mx.themify('background-color', 'button-bg');
    @include mx.themify('color', 'main-bg');

    &:hover {
      @include mx.themify('background-color', 'primary');
    }
  }
}
