@use 'styles/config' as cfg;
@use 'styles/mixins' as mx;

html,
body {
  display: flex;
  flex-direction: column;
}

html {
  backface-visibility: hidden;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

body {
  @include mx.themify('background-color', 'main-bg');
  @include mx.themify('color', 'text');

  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: cfg.$base-font-size;
  // font-family: cfg.$font-family-default, Verdana, Geneva, Tahoma, sans-serif;
  font-family: cfg.$font-family-default;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
}

.root {
  height: 100%;
}
