@use 'styles/config' as cfg;
@use 'styles/functions' as fn;
@use 'styles/mixins' as mx;

%flex {
  display: flex;
}

%set-scroll {
  overflow-y: auto;
  scrollbar-color: #{fn.theme-color('dark', 'primary')} #{fn.theme-color(
      'dark',
      'main-bg'
    )};
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    @include mx.themify('background-color', 'main-bg');
  }

  &::-webkit-scrollbar-thumb {
    @include mx.themify('background-color', 'primary');
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-radius: cfg.$radius;
  }
}

.card {
  @include mx.themify('background-color', 'card');

  padding: fn.offset(2) fn.offset(2) fn.offset(1.5);
  border-radius: cfg.$radius;
  box-shadow: 0 0 8.5rem #{fn.theme-color('dark', 'card-box-shadow')};
  transition: box-shadow 0.2s linear;
}

.flex {
  @extend %flex;
}

.row {
  @extend %flex;
  flex-wrap: wrap;

  &_nowrap {
    flex-wrap: nowrap;
  }
}

.column {
  @extend %flex;
  flex-direction: column;
}

.center {
  @extend %flex;
  justify-content: center;
  align-items: center;
}

.round {
  border-radius: cfg.$radius;
}

.circle {
  border-radius: 50%;
}

.offset-drop {
  margin: 0;
  padding: 0;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.scroll {
  @extend %set-scroll;
}
