@use 'sass:color';
@use 'sass:map';
@use 'styles/colors' as clr;

$theme-dark: (
  primary: clr.$primary,
  main-bg: clr.$background,
  card: color.adjust(clr.$background, $blackness: 5%, $alpha: -0.9),
  modal-bg: color.adjust(clr.$background, $lightness: 15%),
  card-box-shadow: color.adjust(clr.$purple-100, $alpha: -0.9),
  card-box-shadow-scale: color.adjust(clr.$purple-100, $alpha: -0.6),
  overlay-bg: color.adjust(clr.$background, $blackness: 15%, $alpha: -0.2),
  chat-sidebar-bg: color.adjust(clr.$background, $lightness: 10%),
  avatar-bg-overlay:
    color.adjust(clr.$background, $blackness: 15%, $alpha: -0.6),
  link: color.adjust(clr.$purple-100, $blackness: 10%),
  link-hover: color.adjust(clr.$purple-100, $lightness: 5%),
  button-bg: color.adjust(clr.$primary, $blackness: 5%, $alpha: -0.1),
  contact-bg: color.adjust(clr.$background, $lightness: 6%),
  contact-bg-hover: color.adjust(clr.$background, $lightness: 10%),
  contact-bg-active: color.adjust(clr.$background, $lightness: 15%),
  message-bg: color.adjust(clr.$background, $lightness: 5%),
  message-bg-author: color.adjust(clr.$primary, $lightness: 1%),
  user-group-bg: color.adjust(clr.$background, $lightness: 10%),
  user-group-border: color.adjust(clr.$comment, $lightness: 15%),
  input-bg: color.adjust(clr.$background, $lightness: 5%),
  input-color: color.adjust(clr.$comment, $lightness: 25%),
  input-border: color.adjust(clr.$background, $lightness: 10%),
  input-alert: color.adjust(clr.$red-100, $lightness: 10%),
  text: color.adjust(clr.$comment, $lightness: 15%),
  text-dark: color.adjust(clr.$comment, $blackness: 45%),
  drop: transparent,
) !default;

$theme-light: (
  primary: clr.$primary,
) !default;

$themes: (
  'dark': $theme-dark,
  'light': $theme-light,
) !default;
