-
  const [avatar, name, lastMessageText, lastMessageDate, unread, removeIcon] = children

  const classNames = {
    [`${className}`]: Boolean(className),
  }

.message(id=id class=classNames)
  | !{avatar}

  .message__body
    p.message__text sfsfsfsff
