section.auth-layout.column.center.h100
  .auth-layout__content.card.column.center
    | !{title}
    | !{form}

    .auth-layout__link.center
      | !{authLink}

  .auth-layout__link.center
    each child in children || []
      | !{child}
