-
  const [title, form, submitButton, authLink] = children

section.auth-layout.column.center.h100
  .auth-layout__content.card.column.center
    | !{title}

    | !{form}

    .auth-layout__submit.w100
      | !{submitButton}

    .auth-layout__link.center
      | !{authLink}
