section.auth-layout.column.center.h100
  .auth-layout__content.column.center
    | !{title}
    | !{form}

    .auth-layout__link.center
      | !{authLink}

  .auth-layout__link.center
    | !{slot}
