@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;
@use 'styles/functions' as fn;

.auth-layout {
  margin: auto 0;
  max-height: 90vh;

  &__content {
    width: clamp(320px, 60%, 420px);
  }

  &__title.title {
    margin-bottom: fn.offset(1.2);
  }

  &__form {
    padding: 0 fn.offset(2);
    width: calc(100% + #{fn.offset(4)});
    max-height: 60vh;
  }

  &__submit {
    margin-top: fn.offset(2);

    .button {
      width: 100%;
    }
  }

  &__link {
    margin-top: fn.offset();
  }
}
