-
  const [messageForm, messageSubmitButton] = children

  const classNames = {
    [`${className}`]: Boolean(className),
  }

.chat-layout__input(class=className)
  | !{messageForm}

  .chat-layout__submit
    | !{messageSubmitButton}
