@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;
@use 'styles/functions' as fn;

.search-users {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: cfg.$z-index-content;

  &__content {
    @include mx.themify('background-color', 'modal-bg');

    position: relative;
    width: min(460px, 60vw);
    min-height: 80vh;
  }
}
