doctype html
html.theme-dark
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="Chat")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no"
    )
    link(rel="icon" type="image/svg+xml" href="/images/favicon.png")

    title

  body
    main#root.root
      .loader.loader_visible
        .loader__overlay
        .loader__content
          span.loader__item
          span.loader__item
          span.loader__item
